---
import { CollectionEntry, getEntryBySlug } from "astro:content";

const { slug } = Astro.params;

const entry = await getEntryBySlug(
  "posts",
  slug as CollectionEntry<"posts">["slug"]
);

const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>
<Content />
