---
import BaseLayout from 'src/layouts/BaseLayout.astro'
import '../styles/global.css'
export const prerender = true
---

<BaseLayout>
  <div class='flex h-screen items-center justify-center'>
    <p>Comming soon...</p>
  </div>
</BaseLayout>
