---
interface Props {
  blog: CollectionEntry<'blogs'>['data']
}

import type { CollectionEntry } from 'astro:content'
import BaseLayout from 'src/layouts/BaseLayout.astro'

const { frontmatter } = Astro.props
---

<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <slot />
</BaseLayout>
