---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from 'src/layouts/BaseLayout.astro'

interface Props {
  blog: CollectionEntry<'blogs'>
}

const { blog } = Astro.props
---

<BaseLayout>
  <h1>{blog.data.title}</h1>
  <slot />
</BaseLayout>
